@charset "utf-8";

/*============================================================
common main element
============================================================*/
.area-tit {
    /* 1018 label 수정 */
    /* padding-bottom 1차 오픈 */
    padding-bottom: 2rem;
    /* padding-bottom 2차 오픈 */
    /* padding-bottom: 4rem; */
    font-size: 1.5rem;
    text-align: center;
}

/*============================================================
header
============================================================*/
@media (min-width: 992px) {
    header {
        -webkit-transform: translateY(-100%);
        -webkit-animation: fadeInDown .75s .8s ease;
        -webkit-animation-fill-mode: forwards;
        transform: translateY(-100%);
        animation: fadeInDown .75s .8s ease;
        animation-fill-mode: forwards;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/*============================================================
key visual
============================================================*/
.kv-area {
    position: relative;
    background-color: #000;
}

.kv-area:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 1018 label 수정 */
    background: url('../images/main-keyvisual-bg2.png') no-repeat center top;
    background-size: cover;
}

/* 1018 label 수정 추가 */
/* 2차 오픈 */
/* .kv-area .kv-tit {
    position: relative;
    z-index: 2;
}

.kv-area .kv-tit.bg {
    position: absolute;
    top: 14%;
    left: 0;
    z-index: 1;
    margin: 0 -42px;
}

.kv-area .bg-btn {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48.79%;
    z-index: 2;
    opacity: 0;
    text-align: center;
}

.kv-area .bg-btn img {
    width: 17rem;
}

.kv-area .kv-tit.bg .bg-overay-image {
    position: absolute;
    top: -3%;
    left: 0;
    z-index: 10;
    opacity: 0;
}

.kv-area .bg-btn,
.kv-area .kv-tit.bg .bg-overay-image {
    transition: opacity 0.5s;
}

.kv-area .bg-btn:hover,
.kv-area .bg-btn:hover+.kv-tit.bg .bg-overay-image {
    opacity: 1;
} */

/* //1018 label 수정 추가 */

@-webkit-keyframes shakeKv {

    0%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    30%,
    60%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    15%,
    45%,
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shakeKv {

    0%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    30%,
    60%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    15%,
    45%,
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@-webkit-keyframes dropShow {
    0% {
        opacity: 1;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes dropShow {
    0% {
        opacity: 1;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .kv-area:before {
        -webkit-animation: none;
        animation: none;
    }
}

@media (min-width: 992px) {
    .kv-area:before {
        -webkit-animation: shakeKv .35s .45s cubic-bezier(.17, .67, 0, 1.01);
        animation: shakeKv .35s .45s cubic-bezier(.17, .67, 0, 1.01);
    }

    .kv-tit {
        opacity: 0;
        -webkit-transform: scale(3);
        -webkit-animation: dropShow .15s .35s;
        -webkit-animation-fill-mode: forwards;
        transform: scale(3);
        animation: dropShow .15s .35s;
        animation-fill-mode: forwards;
    }
}

@media (max-width: 575.98px) {
    .kv-area:before {
        display: none;
    }

    /* 1018 label 수정 추가 */
    .kv-area {
        background: url('../images/main-keyvisual-bg2.png') no-repeat center top;
        background-size: cover;
    }

    .kv-area .kv-tit.bg {
        margin: 0;
    }
}

/*============================================================
promotion video area
============================================================*/
.promovideo-area {
    position: relative;
    /* 1018 label 수정 */
    /* padding 1차 오픈 */
    padding: 10.75rem 0 3.5rem;
    /* padding 2차 오픈 */
    /* padding: 10.75rem 0 6rem; */
    margin-top: -14.5rem;
    background: url('../images/main-promotion-video-bg2.png') no-repeat center top;
    /* background: url('../images/main-promotion-video-bg.png') no-repeat center top; */
    background-size: cover;
    z-index: 2;
}

.promovideo-area .area-tit__img {
    /* 1018 label 수정 */
    width: 38.05rem;
    /* width: 26rem; */
}

.promo-video-wrap {
    margin: 0 auto;
    max-width: 40rem;
    border: 8px solid #fff;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.35);
}

.promo-video__insta {
    /* 1018 label 수정 */
    display: inline-block;
    position: absolute;
    top: -7.75rem;
    right: 0;
    width: 7.5rem;
    -webkit-transform-origin: 50% 0;
    -webkit-animation: swing 1s infinite alternate ease-in-out;
    transform-origin: 50% 0;
    animation: swing 1s infinite alternate ease-in-out;
}

/* 1018 label 수정 추가 */
.promovideo-area .promo-text {
    margin: 0 auto;
    max-width: 1030px;
}

.promovideo-area .promo-text .mb {
    display: none;
}

/* //1018 label 수정 추가 */

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    100% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
}

@keyframes swing {
    0% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    100% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
}

/* 1018 label 수정 추가 */
@media (max-width: 768.98px) {

    /* 2차 오픈 */
    /* .promovideo-area {
        padding: 7.75rem 0 6rem;
        margin-top: -9.5rem;
    } */

}

/* //1018 label 수정 추가 */

@media (max-width: 575.98px) {
    .promovideo-area {
        /* 1018 label 수정 */
        /* 1차 오픈 */
        margin-top: -14rem;
        padding-top: 16rem;
        /* 2차 오픈 */
        /* margin-top: -9rem;
        padding-top: 12rem; */
    }

    .promo-video__insta {
        /* 1018 label 수정 */
        top: -9rem;
    }

    .promovideo-area .area-tit__img {
        width: 100%;
    }

    .promo-video-wrap {
        border-width: 4px;
    }

    /* 1018 label 수정 추가 */
    .promovideo-area .promo-text .pc {
        display: none;
    }

    .promovideo-area .promo-text .mb {
        display: block;
    }

    /* 2차 오픈 */
    /* .promovideo-area {
        padding: 8.75rem 0 6rem;
        margin-top: -7.5rem;
    } */

    /* //1018 label 수정 추가 */
}

/* 1018 label 수정 추가 */

@media (max-width: 375.98px) {

    /* 1차 오픈 */
    .promovideo-area {
        padding-top: 15rem;
    }
}

@media (max-width: 360.98px) {
    /* 2차 오픈 */
    /* .promovideo-area {
        padding: 9.75rem 0 6rem;
        margin-top: -5.5rem;
    } */
}

@media (max-width: 320.98px) {

    /* 1차 오픈 */
    .promovideo-area {
        margin-top: -12rem;
    }
}

@media (max-width: 280.98px) {

    /* 1차 오픈 */
    .promovideo-area {
        margin-top: -10rem;
    }
}

/* //1018 label 수정 추가 */

/*============================================================
work area
============================================================*/
.work-area {
    /* 1018 label 수정 */
    position: relative;
    padding: 4.75rem 0 7.5rem;
    z-index: 2;
}

.work-area-tit__mark {
    display: inline-block;
    position: relative;
}

.work-area-tit__mark:before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    width: 4rem;
    height: 4rem;
    background-color: #fff5d0;
    border-radius: 100%;
    z-index: -1;
}

.work-area-tit__mark:after {
    content: "";
    position: absolute;
    top: -0.9rem;
    right: -0.9rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ffcc13;
    border-radius: 100%;
    z-index: -1;
}

.work-list li {
    overflow: hidden;
    position: relative;
    margin-top: 1.5rem;
    margin-right: 2.6%;
    width: 31.6%;
    font-size: 0;
}

.work-list li:nth-child(-n+3) {
    margin-top: 0;
}

.work-list li:nth-child(3n),
.work-list li:last-child {
    margin-right: 0;
}

.work-tit {
    display: block;
    font-size: 1.1rem;
    line-height: 1.4;
    color: #fff;
    text-align: center;
}

.work-more-btn {
    display: block;
    padding: 1.25rem 0 2rem;
    margin: 2.25rem auto 0;
    width: 4rem;
    text-align: center;
    font-size: 0.7rem;
    background: #fff url('../images/main-work-morebtn-arw.png') no-repeat center top 2.25rem;
    background-size: 0.75rem;
    border: 1px solid #b4b4b4;
}

/* 1018 label 수정 추가 */
.work-area .work-area-tabmenu {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.work-area .work-area-tabmenu li {
    position: relative;
}

.work-area .work-area-tabmenu li.active a {
    color: #000;
}

.work-area li.active a:before {
    bottom: -5px;
    width: 100%;
    height: 0.5rem;
    -webkit-transition: width 0.15s linear;
    transition: width 0.15s linear;
    background-color: #ffc10e;
}

.work-area .work-area-tabmenu a {
    position: relative;
    padding-bottom: 0.6rem;
    display: block;
    width: 6rem;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #666;
}

.work-area .work-area-tabmenu em {
    font-style: normal;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.work-area .work-area-tabmenu span {
    font-weight: 700;
    font-size: 1.2rem;
}

.work-area .work-tab-content {
    display: none;
}

.work-area .work-tab-content.active {
    display: block;
}

.work-area .type1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    width: 3.25rem;
    height: 3.25rem;
    border: 0;
    color: #fff !important;
    background-color: #848484;
    border-radius: 50%;
}

.work-area .type1 a:before {
    display: none;
}

/* //1018 label 수정 추가 */

@media (min-width: 992.98px) {
    .work-tit__box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.275s ease-in-out, visibility 0s 0.275s;
        -webkit-transform: translateY(100%);
        transition: all 0.275s ease-in-out, visibility 0s 0.275s;
        visibility: hidden;
        transform: translateY(100%);
        will-change: transform;
        background-color: rgba(255, 196, 15, 0.8);
    }

    .work-tit {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
    }

    .work-list:hover .work-tit__box {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .work-list:hover li:hover~li .work-tit__box {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .work-list:hover li:hover .work-tit__box {
        -webkit-transform: none;
        transform: none;
        visibility: visible;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
}

@media (max-width: 575.98px) {
    .area-tit {
        font-size: 1.8rem;
    }

    .work-list li {
        margin-right: 0;
        width: 100%;
    }

    .work-list li:nth-child(-n+3) {
        margin-top: 1.5rem;
    }

    .work-tit__box {
        padding: 1.5rem 1rem;
        background-color: rgba(255, 196, 15, 1);
    }

    .work-tit {
        font-size: 1.4rem;
    }

    .work-more-btn {
        padding-bottom: 2.75rem;
        width: 100%;
        font-size: 1.3rem;
        background-position: center top 3.15rem;
        background-size: 1.25rem;
    }
}

/* work video modal
============================================================*/
.modal-wrap__work-video {
    padding: 4rem 2.5rem;
    margin: 10rem auto;
    width: 33rem;
    background-color: #ffc40f;
    /* 1018 label 수정 */
    border-radius: 1rem;
    text-align: center;
}

.modal-wrap__work-video .close-modal-btn {
    display: inline-block;
    top: -1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
    width: 3rem;
    height: 3rem;
    background-color: #000;
    border-radius: 100%;
}

.modal-wrap__work-video .close-modal-btn:before,
.modal-wrap__work-video .close-modal-btn:after {
    width: 1px;
    height: 1.5rem;
    background-color: #fff;
}

.work-video__tit {
    padding: 2rem 0 1.5rem;
    font-size: 1.6rem;
}

.work-video__txt {
    overflow-y: scroll;
    max-height: 4.25rem;
    font-size: 1rem;
    line-height: 1.5;
}

.work-video__txt::-webkit-scrollbar {
    width: 5px;
    background-color: #ffc40f;
}

.work-video__txt::-webkit-scrollbar-thumb {
    background: #000;
}

/* 1018 label 수정 추가 */
.modal-wrap__work-video .image-layer-wrap {
    position: relative;
    width: 100%;
    height: 15.75rem;
    overflow: hidden;
}

.modal-wrap__work-video .image-layer-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //1018 label 수정 추가 */

@media (max-width: 768.98px) {
    .modal-wrap__work-video {
        padding: 4rem 1rem;
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
        max-width: 100%;
    }

    .modal-wrap__work-video .close-modal-btn {
        top: -2rem;
        width: 4rem;
        height: 4rem;
    }

    .modal-wrap__work-video .close-modal-btn:before,
    .modal-wrap__work-video .close-modal-btn:after {
        height: 2rem;
    }

    .work-video__tit {
        font-size: 1.9rem;
    }

    .work-video__txt {
        max-height: 6rem;
        font-size: 1.3rem;
    }
}