<!Doctype html>
<html lang="ko">
    <head>
        <title>2021 빼틀 공모전</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="2021 빼틀 공모전, 2021 대한지방흡입학회 콘텐츠 공모전, 의료 관광, 지방흡입, 다이어트">
        <meta name="description" content="포스트코로나 시대 대한민국 지방흡입의 우수성을 세계에 알려 의료 관광객을 다시 맞이하기 위한 우수 콘텐츠 공모전">

        <meta property="og:type" content="website">
        <meta property="og:title" content="2021 빼틀 공모전">
        <meta property="og:description" content="포스트코로나 시대 대한민국 지방흡입의 우수성을 세계에 알려 의료 관광객을 다시 맞이하기 위한 우수 콘텐츠 공모전">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="2021 빼틀 공모전">
        <meta name="twitter:description" content="포스트코로나 시대 대한민국 지방흡입의 우수성을 세계에 알려 의료 관광객을 다시 맞이하기 위한 우수 콘텐츠 공모전">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="apple-touch-ico" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/sub.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="grid1170">
                <h1 class="hd-logo__wrap"><a href="index.html" title="메인 페이지로 이동하기" id="hdLogo"><img src="../../content/images/header-logo-white.png" alt="대한지방흡입학회 로고 이미지"></a></h1> <!-- //logo -->
                <nav>
                    <ul class="flex-box flex-spc__end flex-align__cnt nav-menu-list">
                        <li><a href="index.html" title="메인 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">HOME</span></mark></a></li>
                        <li><a href="aboutVideo.html" title="공모전 안내-영상 분야 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">공모전 안내</span></mark></a></li>
                        <li><a href="applyLogin.html" title="접수/확인 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">접수/확인</span></mark></a></li>
                        <li><a href="noticeList.html" title="공지/문의 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">공지/문의</span></mark></a></li>
                    </ul>
                </nav> <!-- //nav -->
                <button class="tgl-nav-btn">
                    <span class="txt-hidden">모바일 내비게이션 열고 닫기</span>
                </button>
            </div> <!-- //grid -->
        </header>
        <!-- //header END -->
        <!-- main START -->
        <main>
            <!-- key visual area START -->
            <div class="sub-kv-area">
                <div class="grid1170">
                    <h2 class="sub-kv-tit__box">
                        <img src="../../content/images/sub-keyvisual-tit.png" alt="[2021 대한지방흡입학회 콘텐츠 공모전] 빼틀(BBATTLE)" class="sub-kv-tit">
                    </h2>
                </div> <!-- //grid -->
            </div>
            <!-- //key visual area END -->
            <!-- sub tabmenu area START -->
            <div class="sub-tabmenu-area">
                <div class="grid1020">
                    <ul class="flex-box sub-tabmenu-list">
                        <li class="col33"><a href="javascript:void(0);" title="공모전 영상 분야 접수 페이지로 이동하기 (현재 탭)" class="sub-tabmenu on"><img src="../../content/images/about-tabmenu-label-video.png" alt="영상" class="sub-tabmenu__label"></a></li>
                        <li class="col33"><a href="javascript:void(0);" title="공모전 디자인 분야 접수 페이지로 이동하기" class="sub-tabmenu"><img src="../../content/images/about-tabmenu-label-design.png" alt="디자인" class="sub-tabmenu__label"></a></li>
                        <li class="col33"><a href="javascript:void(0);" title="공모전 글 분야 접수 페이지로 이동하기" class="sub-tabmenu"><img src="../../content/images/about-tabmenu-label-text.png" alt="글" class="sub-tabmenu__label"></a></li>
                    </ul>
                </div> <!-- //grid -->
            </div>
            <!-- //sub tabmenu area END -->
            <!-- apply area START -->
            <div class="cont-area apply-area">
                <div class="grid1020">
                    <div class="flex-box flex-spc__btw cont-hd-wrap">
                        <h3 class="cont-hd-tit"><mark class="highlight-txt__box"><span class="highlight-txt">영상 분야 접수</span></mark></h3>
                    </div> <!-- //content area title wrap -->
                    <div class="cont-wrap apply-cont-wrap">
                        <ul class="flex-box flex-spc__btw apply-step-list">
                            <li>
                                <div class="flex-box flex-spc__cnt flex-align__cnt apply-step">
                                    <img src="../../content/images/apply-step-login-ico.png" alt="로그인 아이콘" class="apply-step__ico">
                                    <span class="apply-step__label">로그인</span>
                                </div>
                            </li>
                            <li>
                                <div class="flex-box flex-spc__cnt flex-align__cnt apply-step on">
                                    <img src="../../content/images/apply-step-terms-ico.png" alt="개인정보수집동의 아이콘" class="apply-step__ico">
                                    <span class="apply-step__label">개인정보수집동의</span>
                                </div>
                            </li>
                            <li>
                                <div class="flex-box flex-spc__cnt flex-align__cnt apply-step">
                                    <img src="../../content/images/apply-step-form-ico.png" alt="정보입력 아이콘" class="apply-step__ico">
                                    <span class="apply-step__label">정보입력</span>
                                </div>
                            </li>
                        </ul> <!-- apply step list -->
                        <div class="apply-hd-wrap">
                            <h4 class="apply-hd-tit">개인정보 수집동의</h4>
                            <p class="apply-hd-txt">2021 대한지방흡입학회 콘텐츠 공모전 ‘빼틀 공모전’(이하 ‘운영사무국'이라 합니다.)은 <span class="txt-break">개인정보보호법을 준수하고 있으며, 2021 대한지방흡입학회 콘텐츠 공모전 ‘빼틀 공모전’ 과 관련하여</span> 아래와 같이 개인정보 수집 · 이용(제공)에 대한 귀하의 동의를 받고자 합니다.<br>내용을 자세히 읽으신 후 동의 여부를 결정하여 주십시오.<br><small class="fw500 fc__brown">[관련법령 개인정보보호법 제15조, 제17조, 제22조, 제23조, 제24조]</small></p>
                        </div> <!-- apply header wrap -->
                        <form>
                            <ul>
                                <li>
                                    <div class="form-wrap">
                                        <strong class="form-label__row">개인정보 수집 • 이용에 대한 동의</strong>
                                        <div class="form-field__row">
                                            <div class="form-el__row">
                                                <div class="form-el form-terms">
                                                    <p>1) 수집하는 개인정보의 이용목적<br>: 지원 신청 심사, 사업 운영 및 관리<br><br>2) 수집 항목<br>① 필수 : 성명, 생년월일, 이메일, 핸드폰 번호, 긴급 연락처, 소속<br><br>3) 보유 및 이용기간<br>: 위 개인정보는 수집이용목적이 달성되면 즉시 폐기합니다. 다만, 사무국은 관련법령의 규정에 의하여 개인정보를 보유할 필요가 있는 경우, 해당 법령에서 정한 바에 의하여 아래와 같이 개인정보를 보유할 수 있습니다.<br><br>- 계약 또는 청약철회 등에 관련 기록 : 5년<br>- 대금결제 및 재화 등의 공급에 관한 기록 : 5년<br>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br>- 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년<br>- 표시/광고에 관한 기록 : 6개월<br>- 이용자의 인터넷 등 로그기록/ 이용자의 접속지 추적자료 : 3개월<br>- 그 외의 통신사실 확인 자료 : 12개월<br><br>4) 동의 거부의 권리<br>: 귀하는 개인정보 수집·이용에 동의하지 않으실 수 있습니다. 다만, 동의 거부 시 지원 신청 및 선정이 제한될 수 있습니다.</p>
                                                </div>
                                            </div>
                                            <div class="form-el__row">
                                                <div class="form-check-box">
                                                    <label for="agreeTerm1"class="flex-box flex-spc__end flex-align__cnt">
                                                        <input type="checkbox" name="agreeTerm" id="agreeTerm1" value="1">
                                                        <div class="form-check__box"><span class="txt-hidden">엔터키를 눌러 체크하세요.</span></div>
                                                        <span class="form-check__label">동의합니다</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- form wrap -->
                                </li>
                                <li>
                                    <div class="form-wrap">
                                        <strong class="form-label__row">영상 • 디자인 • 글 저작권 활용에 대한 동의</strong>
                                        <div class="form-field__row">
                                            <div class="form-el__row">
                                                <div class="form-el form-terms">
                                                    <p>1) 수집하는 영상•디자인•글 분야 창작물의 이용목적<br>: 지원 신청 심사, 사업 운영 및 관리<br><br>2) 활용 항목<br>: 사이트 내 수상작, 수상작품집, 보도자료, SNS 운영 및 홍보, 광고 및 홍보 (캠페인) 소재 및 마케팅 등<br><br>3) 보유 및 이용기간<br>: 위 영상•디자인•글 분야 창작물은 중복지원 방지 및 마케팅 활용 등을 위해 2년간 보유·이용됩니다.<br><br>4) 동의 거부의 권리<br>: 귀하는 영상•디자인•글 분야 창작물 활용에 동의하지 않으실 수 있습니다. 다만, 동의 거부 시 지원 신청 및 선정이 제한될 수 있습니다.<br><br>※ 출품작은 제3자의 저작권, 초상권, 개인정보 등 여하한 권리를 침해하지 않았음을 보증합니다. 법률 및 기타 문제 소지가 있는 경우 심사대상에서 제외되며 민형사상 문제 발생 시 출품자 본인에게 책임이 있습니다.<br>※ 공모전에 제출된 응모작에 대한 권리는 응모자에게 있으며, 제출된 응모작을 바탕으로 주최측의 책임하에 개선·발전시킨 경우에는 응모자와의 합의에 의해 공동 소유 등 소유권을 결정할 수 있습니다.<br>※ 수상작의 저작권을 공모전 주최측에 귀속시키고자 하는 경우, 주최측은 수상자와의 충분한 합의 과정을 거쳐 그에 대한 합당한 충분한 대가를 지급하도록 합니다. 이후 출품된 응모작을 사용함에 있어서도 그 가치에 대한 합리적인 대가를 지급하도록 합니다.<br>※ 공모전 응모자는 응모작의 반환을 요구할 수 있으며, 이 때 주최측은 작품 반환 후 응모작과 관련된 자료 일체를 즉시 폐기합니다.</p>
                                                </div>
                                            </div>
                                            <div class="form-el__row">
                                                <div class="form-check-box">
                                                    <label for="agreeTerm2" class="flex-box flex-spc__end flex-align__cnt">
                                                        <input type="checkbox" name="agreeTerm" id="agreeTerm2" value="2">
                                                        <div class="form-check__box"><span class="txt-hidden">엔터키를 눌러 체크하세요.</span></div>
                                                        <span class="form-check__label">동의합니다</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- form wrap -->
                                </li>
                                <li>
                                    <div class="form-wrap">
                                        <strong class="form-label__row">취급 · 위탁에 대한 동의</strong>
                                        <div class="form-field__row">
                                            <div class="form-el__row">
                                                <div class="form-el form-terms">
                                                    <p>1) 위탁Ⅰ<br>위탁 받는 자 : ‘2021 대한지방흡입학회 콘텐츠 공모전 ‘빼틀 공모전’ 외부 심사위원<br>위탁하는 업무내용 : 지원 대상자의 심사 및 결정<br><br>2) 위탁Ⅱ<br>위탁 받는 자 : ‘2021 대한지방흡입학회 콘텐츠 공모전 ‘빼틀 공모전’ 홈페이지 위탁용역업체 - (주)대학내일<br>위탁하는 업무내용 : 홈페이지 지원 접수, 홈페이지 이벤트 운영 및 문의 응대, 홈페이지 콘텐츠 제작<br><br>사무국은 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 개인정보 위탁계약 서약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지 감독하고 있습니다. 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체 없이 본 개인정보처리방침을 통하여 공개하도록 하겠습니다.<br><br>개인정보 처리위탁은 개별 서비스별로 그 이행을 위해 필요한 경우에 한해 각 위탁업체에 대해 이루어집니다.</p>
                                                </div>
                                            </div>
                                            <div class="form-el__row">
                                                <div class="form-check-box">
                                                    <label for="agreeTerm3" class="flex-box flex-spc__end flex-align__cnt">
                                                        <input type="checkbox" name="agreeTerm" id="agreeTerm3" value="3">
                                                        <div class="form-check__box"><span class="txt-hidden">엔터키를 눌러 체크하세요.</span></div>
                                                        <span class="form-check__label">동의합니다</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- form wrap -->
                                </li>
                                <li>
                                    <div class="form-wrap">
                                        <p class="txt-indent form-tip"><span class="mark">※</span>개인정보 제공자가 동의한 내용 외의 다른 목적으로 활용하지 않으며, 제공된 개인정보에 대해 재단에 열람, 정정, 삭제를 요구할 수 있습니다.</p>
                                        <p class="txt-indent form-tip"><span class="mark">※</span>기타 개인정보처리에 관한 자세한 사항은 2021 대한지방흡입학회 콘텐츠 공모전 ‘빼틀 공모전’ 에(https://www.bbattle-contest.com/) 공개한 ‘개인정보처리방침’을 참조하십시오.</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="form-submitbtn-wrap">
                                <div class="flex-box flex-spc__cnt">
                                    <a href="applyForm.html" title="정보입력 페이지로 이동하기" class="form-submit-btn__type1 hover-blur-btn">다음 단계</a>
                                </div>
                            </div> <!-- //form submit button wrap -->
                        </form> <!-- //form -->
                    </div> <!-- //content wrap -->
                </div> <!-- //grid -->
            </div>
            <!-- //apply area END -->
        </main>
        <!-- //main END -->
        <!-- footer START -->
        <footer>
            <div class="grid1170">
                <img src="../../content/images/footer-logo.png" alt="대한지방흡입학회 로고 이미지" id="ftLogo">
                <ul class="flex-box flex-spc__cnt flex-align__cnt ft-info__wrap">
                    <li class="ft-info__txt col100">Copyright &copy; 대한지방흡입학회 ALL RIGHTS RESERVED</li>
                    <li class="ft-info__txt">E-mail : battle.contest@gmail.com</li>
                    <li class="ft-info__txt">Tel : 02-6959-1755 / 02-735-1104</li>
                </ul>
                <div class="ft-info__wrap">
                    <a href="privacy.html" title="개인정보 처리방침 페이지로 이동하기" class="ft-info__btn">개인정보 처리방침</a>
                </div>
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <script src="../../content/scripts/common.js"></script>
    </body>
</html>