<!Doctype html>
<html lang="ko">
    <head>
        <title>2021 빼틀 공모전</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="2021 빼틀 공모전, 2021 대한지방흡입학회 콘텐츠 공모전, 의료 관광, 지방흡입, 다이어트">
        <meta name="description" content="포스트코로나 시대 대한민국 지방흡입의 우수성을 세계에 알려 의료 관광객을 다시 맞이하기 위한 우수 콘텐츠 공모전">

        <meta property="og:type" content="website">
        <meta property="og:title" content="2021 빼틀 공모전">
        <meta property="og:description" content="포스트코로나 시대 대한민국 지방흡입의 우수성을 세계에 알려 의료 관광객을 다시 맞이하기 위한 우수 콘텐츠 공모전">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="2021 빼틀 공모전">
        <meta name="twitter:description" content="포스트코로나 시대 대한민국 지방흡입의 우수성을 세계에 알려 의료 관광객을 다시 맞이하기 위한 우수 콘텐츠 공모전">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="apple-touch-ico" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/sub.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="grid1170">
                <h1 class="hd-logo__wrap"><a href="index.html" title="메인 페이지로 이동하기" id="hdLogo"><img src="../../content/images/header-logo-white.png" alt="대한지방흡입학회 로고 이미지"></a></h1> <!-- //logo -->
                <nav>
                    <ul class="flex-box flex-spc__end flex-align__cnt nav-menu-list">
                        <li><a href="index.html" title="메인 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">HOME</span></mark></a></li>
                        <li><a href="aboutVideo.html" title="공모전 안내-영상 분야 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">공모전 안내</span></mark></a></li>
                        <li><a href="applyLogin.html" title="접수/확인 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">접수/확인</span></mark></a></li>
                        <li><a href="noticeList.html" title="공지/문의 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">공지/문의</span></mark></a></li>
                    </ul>
                </nav> <!-- //nav -->
                <button class="tgl-nav-btn">
                    <span class="txt-hidden">모바일 내비게이션 열고 닫기</span>
                </button>
            </div> <!-- //grid -->
        </header>
        <!-- //header END -->
        <!-- main START -->
        <main>
            <!-- key visual area START -->
            <div class="sub-kv-area">
                <div class="grid1170">
                    <h2 class="sub-kv-tit__box">
                        <img src="../../content/images/sub-keyvisual-tit.png" alt="[2021 대한지방흡입학회 콘텐츠 공모전] 빼틀(BBATTLE)" class="sub-kv-tit">
                    </h2>
                </div> <!-- //grid -->
            </div>
            <!-- //key visual area END -->
            <!-- sub tabmenu area START -->
            <div class="sub-tabmenu-area">
                <div class="grid1170">
                    <ul class="flex-box sub-tabmenu-list">
                        <li class="col33"><a href="javascript:void(0);" title="공모전 영상 분야 접수 페이지로 이동하기 (현재 탭)" class="sub-tabmenu on"><img src="../../content/images/about-tabmenu-label-video.png" alt="영상" class="sub-tabmenu__label"></a></li>
                        <li class="col33"><a href="javascript:void(0);" title="공모전 디자인 분야 접수 페이지로 이동하기" class="sub-tabmenu"><img src="../../content/images/about-tabmenu-label-design.png" alt="디자인" class="sub-tabmenu__label"></a></li>
                        <li class="col33"><a href="javascript:void(0);" title="공모전 글 분야 접수 페이지로 이동하기" class="sub-tabmenu"><img src="../../content/images/about-tabmenu-label-text.png" alt="글" class="sub-tabmenu__label"></a></li>
                    </ul>
                </div> <!-- //grid -->
            </div>
            <!-- //sub tabmenu area END -->
            <!-- apply area START -->
            <div class="cont-area apply-area">
                <div class="grid1020">
                    <div class="flex-box flex-spc__btw cont-hd-wrap">
                        <h3 class="cont-hd-tit"><mark class="highlight-txt__box"><span class="highlight-txt">영상 분야 접수</span></mark></h3>
                    </div> <!-- //content area title wrap -->
                    <div class="cont-wrap apply-cont-wrap">
                        <div class="pt0 apply-hd-wrap">
                            <h4 class="apply-hd-tit">최종접수완료</h4>
                        </div> <!-- //apply header wrap -->
                        <div class="apply-confirm-wrap">
                            <small class="apply-confirm-txt__sm"><span class="txt-break__mo">2021 대한지방흡입학회</span> 콘텐츠 공모전 ‘빼틀 공모전’</small>
                            <p class="mt20 apply-confirm-txt__lg"><strong class="fw500">영상분야</strong><br>최종 접수하셨습니다.</p>
                        </div> <!-- //apply confirm wrap -->
                        <form>
                            <dl class="flex-box form-wrap">
                                <dt class="form-tit__col"><h5>지원자 정보</h5></dt>
                                <dd class="form-cont__col form-txt-cont__col">
                                    <ul>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">참가구분</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">팀</p>
                                            </div>
                                        </li> <!-- //참가 구분 -->
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">팀 명</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">삼산텍</p>
                                            </div>
                                        </li> <!-- //팀 명 -->
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">팀원 이름</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">신민아, 남도산, 서달미</p>
                                            </div>
                                        </li> <!-- //팀원 이름 -->
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">성명</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">신민아</p>
                                            </div>
                                        </li> <!-- //성명 -->
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">소속</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">대학생</p>
                                            </div>
                                        </li> <!-- //소속 -->
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">생년월일</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">1995년 3월 15일</p>
                                            </div>
                                        </li> <!-- //생년월일 -->
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">핸드폰 번호</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">010 123 1234</p>
                                            </div>
                                        </li> <!-- //핸드폰 번호 -->
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">긴급연락처</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">010 123 1234</p>
                                            </div>
                                        </li> <!-- //긴급연락처 -->
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">이메일</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">abc@abc.com</p>
                                            </div>
                                        </li> <!-- //이메일 -->
                                    </ul>
                                </dd>
                            </dl> <!-- //form wrap : 지원자 정보 -->
                            <dl class="flex-box form-wrap">
                                <dt class="form-tit__col"><h5>접수 정보</h5></dt>
                                <dd class="form-cont__col form-txt-cont__col">
                                    <ul>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">작품 제목</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">무궁화 꽃이 피었습니다. 무궁화 꽃이 피었습니다.</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">작품 제목</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">무궁화꽃이 피었습니다. 무궁화꽃이 피었습니다. 꽃이 피었습니다. 무궁화꽃이 피었습니다. 꽃이 피었습니다. 무궁화꽃이 피었습니다. 무궁화꽃이 피었습니다. 무궁화꽃이 피었습니다. 무궁화 꽃이 피었습니다.</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">SNS 업로드 URL</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">www.naver.com</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">썸네일</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">diet.png</p>
                                            </div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl> <!-- //form wrap : 영상 접수 정보 -->
                            <dl class="flex-box form-wrap">
                                <dt class="form-tit__col"><h5>접수 정보</h5></dt>
                                <dd class="form-cont__col form-txt-cont__col">
                                    <ul>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">작품 제목</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">무궁화 꽃이 피었습니다. 무궁화 꽃이 피었습니다.</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">작품 제목</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">무궁화꽃이 피었습니다. 무궁화꽃이 피었습니다. 꽃이 피었습니다. 무궁화꽃이 피었습니다. 꽃이 피었습니다. 무궁화꽃이 피었습니다. 무궁화꽃이 피었습니다. 무궁화꽃이 피었습니다. 무궁화 꽃이 피었습니다.</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">SNS 업로드 URL</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">www.naver.com</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">대용량 첨부파일 URL</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">www.naver.com</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">썸네일</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">diet.png</p>
                                            </div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl> <!-- //form wrap: 디자인 접수 정보 -->
                            <dl class="flex-box form-wrap">
                                <dt class="form-tit__col"><h5>접수 정보</h5></dt>
                                <dd class="form-cont__col form-txt-cont__col">
                                    <ul>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">작품 제목</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">무궁화 꽃이 피었습니다. 무궁화 꽃이 피었습니다.</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">작품 제목</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">무궁화꽃이 피었습니다. 무궁화꽃이 피었습니다. 꽃이 피었습니다. 무궁화꽃이 피었습니다. 꽃이 피었습니다. 무궁화꽃이 피었습니다. 무궁화꽃이 피었습니다. 무궁화꽃이 피었습니다. 무궁화 꽃이 피었습니다.</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">첨부 파일</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">diet.doc</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">SNS 업로드 URL</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">www.naver.com</p>
                                            </div>
                                        </li>
                                        <li class="flex-box">
                                            <label class="form-label__col form-txt__label">썸네일</label>
                                            <div class="form-field__col">
                                                <p class="form-txt">diet.png</p>
                                            </div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl> <!-- //form wrap: 글 접수 정보 -->
                        </form> <!-- //form -->
                    </div> <!-- //content wrap -->
                </div> <!-- //grid -->
            </div>
            <!-- //apply area END -->
        </main>
        <!-- //main END -->
        <!-- footer START -->
        <footer>
            <div class="grid1170">
                <img src="../../content/images/footer-logo.png" alt="대한지방흡입학회 로고 이미지" id="ftLogo">
                <ul class="flex-box flex-spc__cnt flex-align__cnt ft-info__wrap">
                    <li class="ft-info__txt col100">Copyright &copy; 대한지방흡입학회 ALL RIGHTS RESERVED</li>
                    <li class="ft-info__txt">E-mail : battle.contest@gmail.com</li>
                    <li class="ft-info__txt">Tel : 02-6959-1755 / 02-735-1104</li>
                </ul>
                <div class="ft-info__wrap">
                    <a href="privacy.html" title="개인정보 처리방침 페이지로 이동하기" class="ft-info__btn">개인정보 처리방침</a>
                </div>
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <script src="../../content/scripts/common.js"></script>
    </body>
</html>