<!Doctype html>
<html lang="ko">
    <head>
        <title>2021 빼틀 공모전</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="author" content="univEBIZ_zOoOe">
        <meta name="keywords" content="2021 빼틀 공모전, 2021 대한지방흡입학회 콘텐츠 공모전, 의료 관광, 지방흡입, 다이어트">
        <meta name="description" content="포스트코로나 시대 대한민국 지방흡입의 우수성을 세계에 알려 의료 관광객을 다시 맞이하기 위한 우수 콘텐츠 공모전">

        <meta property="og:type" content="website">
        <meta property="og:title" content="2021 빼틀 공모전">
        <meta property="og:description" content="포스트코로나 시대 대한민국 지방흡입의 우수성을 세계에 알려 의료 관광객을 다시 맞이하기 위한 우수 콘텐츠 공모전">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:url" content="">
        
        <meta name="twitter:title" content="2021 빼틀 공모전">
        <meta name="twitter:description" content="포스트코로나 시대 대한민국 지방흡입의 우수성을 세계에 알려 의료 관광객을 다시 맞이하기 위한 우수 콘텐츠 공모전">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="../../content/images/share.png">
        <meta name="twitter:url" content="">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="apple-touch-ico" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/common.css" rel="stylesheet">
        <link href="../../content/styles/sub.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <!-- header START -->
        <header>
            <div class="grid1170">
                <h1 class="hd-logo__wrap"><a href="index.html" title="메인 페이지로 이동하기" id="hdLogo"><img src="../../content/images/header-logo-white.png" alt="대한지방흡입학회 로고 이미지"></a></h1> <!-- //logo -->
                <nav>
                    <ul class="flex-box flex-spc__end flex-align__cnt nav-menu-list">
                        <li><a href="index.html" title="메인 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">HOME</span></mark></a></li>
                        <li><a href="aboutVideo.html" title="공모전 안내-영상 분야 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">공모전 안내</span></mark></a></li>
                        <li><a href="applyLogin.html" title="접수/확인 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">접수/확인</span></mark></a></li>
                        <li><a href="noticeList.html" title="공지/문의 페이지로 이동하기" class="nav-menu"><mark class="highlight-txt__box"><span class="highlight-txt">공지/문의</span></mark></a></li>
                    </ul>
                </nav> <!-- //nav -->
                <button class="tgl-nav-btn">
                    <span class="txt-hidden">모바일 내비게이션 열고 닫기</span>
                </button>
            </div> <!-- //grid -->
        </header>
        <!-- //header END -->
        <!-- main START -->
        <main>
            <!-- key visual area START -->
            <div class="sub-kv-area">
                <div class="grid1170">
                    <h2 class="sub-kv-tit__box">
                        <img src="../../content/images/sub-keyvisual-tit.png" alt="[2021 대한지방흡입학회 콘텐츠 공모전] 빼틀(BBATTLE)" class="sub-kv-tit">
                    </h2>
                </div> <!-- //grid -->
            </div>
            <!-- //key visual area END -->
            <!-- sub tabmenu area START -->
            <div class="sub-tabmenu-area">
                <div class="grid1020">
                    <ul class="flex-box sub-tabmenu-list">
                        <li class="col50"><a href="noticeList.html" title="공지사항 페이지로 이동하기" class="sub-tabmenu"><img src="../../content/images/cs-tabmenu-label-notice.png" alt="공지사항" class="sub-tabmenu__label"></a></li>
                        <li class="col50"><a href="qnaForm.html" title="1:1문의 접수 페이지로 이동하기 (현재 탭)" class="sub-tabmenu on"><img src="../../content/images/cs-tabmenu-label-qna.png" alt="1:1문의" class="sub-tabmenu__label"></a></li>
                    </ul>
                </div> <!-- //grid -->
            </div>
            <!-- //sub tabmenu area END -->
            <!-- notice area START -->
            <div class="cont-area">
                <div class="grid1020">
                    <div class="flex-box flex-spc__btw cont-hd-wrap">
                        <h3 class="cont-hd-tit"><mark class="highlight-txt__box"><span class="highlight-txt">1:1문의</span></mark></h3>
                    </div> <!-- //content area title wrap -->
                    <div class="cont-wrap qna-cont-wrap">
                        <form>
                            <ul class="form-cont__col">
                                <li>
                                    <div class="form-wrap">
                                        <strong class="form-label__row">개인정보수집이용 동의</strong>
                                        <div class="form-field__row">
                                            <div class="form-el__row">
                                                <div class="form-el form-terms">
                                                    <p>2021 대한지방흡입학회 콘텐츠 공모전 ‘빼틀 공모전‘ (이하 ‘운영사무국'이라 합니다.) 은 이용자의 개인정보를 중요시하며, 정보통신망 이용촉진 및 정보보호에 관한 법률을 준수하고 있습니다. 운영사무국은 개인정보수집정책을 통하여 이용자가 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br><br>1. 수집하는 개인정보 항목 및 수집방법<br>운영사무국은 문의 접수 및 응대 등을 위해 다음과 같은 개인정보를 수집하고 있습니다.<br>수집항목: 성명, 이메일<br><br>2. 개인정보 수집 및 이용목적<br> 운영사무국은 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br>- 이용목적: 본인 식별 확인, 문의 접수 및 응대 등<br><br>3. 개인정보의 보유 및 이용기간<br>원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br>- 보존항목: 성명, 이메일<br>- 보존근거: 문의 접수 및 응대<br>- 보존기간: 문의 접수 종료 후 3개월 보유 및 활용 후 파기</p>
                                                </div>
                                            </div>
                                            <div class="form-el__row">
                                                <div class="form-check-box">
                                                    <label for="qnaTerm" class="flex-box flex-spc__end flex-align__cnt">
                                                        <input type="checkbox" name="qnaTerm" id="qnaTerm">
                                                        <div class="form-check__box"><span class="txt-hidden">엔터키를 눌러 체크하세요.</span></div>
                                                        <span class="form-check__label">동의합니다</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- form wrap -->
                                </li>
                                <li class="flex-box">
                                    <label for="qnaType" class="form-label__col">문의유형 <b class="mark">*</b></label>
                                    <div class="form-field__col">
                                        <select class="form-el form-select" id="qnaType">
                                            <option>영상 문의</option>
                                            <option>디자인 문의</option>
                                            <option>글 문의</option>
                                            <option>기타 문의</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="flex-box">
                                    <label for="applyFormName" class="form-label__col">성명 <b class="mark">*</b></label>
                                    <div class="form-field__col">
                                        <input type="text" class="form-el form-input" id="applyFormName">
                                    </div>
                                </li>
                                <li class="flex-box">
                                    <label for="applyFormMail" class="form-label__col">이메일 <b class="mark">*</b></label>
                                    <div class="form-field__col">
                                        <input type="text" class="form-el form-input" id="applyFormMail">
                                    </div>
                                </li>
                                <li class="flex-box">
                                    <label for="applyWorkDesc" class="form-label__col">문의 내용 <b class="mark">*</b></label>
                                    <div class="form-field__col">
                                        <div class="form-el__row">
                                            <textarea class="form-txtarea__lg form-el" id="applyWorkDesc" maxlength="300"></textarea>
                                        </div>
                                        <div class="form-el__row">
                                            <p class="txt-indent form-tip"><span class="mark">※</span>등록된 문의내용은 입력하신 이메일로 회신됩니다.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form> <!-- //form -->
                        <div class="flex-box flex-spc__cnt flex-align__cnt btm-btn-wrap">
                            <a href="javascript:void(0);" title="1:1문의 등록 취소하기" class="btm-btn__sm btm-btn__type1 hover-blur-btn"><span class="label-arw">취소</span></a>
                            <a href="qnaConfirm.html" title="1:1문의 등록하기" class="btm-btn__sm btm-btn__type2 hover-blur-btn"><span class="label-arw">등록</span></a>
                        </div> <!-- //bottom button wrap -->
                    </div> <!-- //content wrap -->
                </div> <!-- //grid -->
            </div>
            <!-- //notice area END -->
        </main>
        <!-- //main END -->
        <!-- footer START -->
        <footer>
            <div class="grid1170">
                <img src="../../content/images/footer-logo.png" alt="대한지방흡입학회 로고 이미지" id="ftLogo">
                <ul class="flex-box flex-spc__cnt flex-align__cnt ft-info__wrap">
                    <li class="ft-info__txt col100">Copyright &copy; 대한지방흡입학회 ALL RIGHTS RESERVED</li>
                    <li class="ft-info__txt">E-mail : battle.contest@gmail.com</li>
                    <li class="ft-info__txt">Tel : 02-6959-1755 / 02-735-1104</li>
                </ul>
                <div class="ft-info__wrap">
                    <a href="privacy.html" title="개인정보 처리방침 페이지로 이동하기" class="ft-info__btn">개인정보 처리방침</a>
                </div>
            </div> <!-- //grid -->
        </footer>
        <!-- //footer END -->
        <script src="../../content/scripts/common.js"></script>
    </body>
</html>